<h1> This is category index</h1>

<%= link_to "New category", new_category_path(@category) %>

<div>
  <% @category.each do |category| %>
    <h2><%= category.name %></h2>
    <h2><%= category.details %></h2>
    <%= link_to "Show category", show_category_path(category) %>
    <%= link_to "edit", edit_category_path(category)  %> 
    
  <% end %>
<div>

