<h1> New category</h1>

<%= form_with scope: :category, url: create_category_path, local: true do |f| %>
  
  <p>
    <% if @category.errors.any? %>
      <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    <% end %>

  </p>

  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  
  
  <p>
    <%= f.label :details %><br/>
    <%= f.text_field :details %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>

<% end %>


<div>
  <%= link_to "Back to category", category_index_path %>
</div>

 